* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    font-weight: bold;
    line-height: 1.5rem;
}

div span {
    font-style: italic;
    color: purple;
}

.red {
    text-decoration: underline;
}